<div class="simplebar-content-wrapper" >
    <div class="simplebar-content" style="padding: 0px;">

        <!--- Sidemenu -->
        <div id="sidebar-menu" class="mm-active extendSidenav">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled mm-show" >

                
                <li class="menuItem" routerLink="/fundsList" routerLinkActive="active" id="fundsList"> Fund Availability</li> 
                <li class="menuItem " id="approval"  routerLink="/approval" routerLinkActive="active"> Fund Approval</li> 
                <li class="menuItem" id="verified" routerLink="/verified" routerLinkActive="active"> Fund Availability-Answered</li> 
                <li class="menuItem" id="dashboard" routerLink="/dashboard" routerLinkActive="active"> Fund Availability-data</li> 
               
            </ul>
        </div>
    </div>
</div>