<div class="d-flex justify-content-center align-items-center" >
    <div class="card ">
      <div class="card-header text-center">
        <b>Login</b>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" >
          <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" formControlName="userName">
          </div><br>
          <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" formControlName="password">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="text-end text-center">
          <button class="btn btn-success" (click)="submit()">Submit</button>
        </div>
      </div>
    </div>
</div>