<div id="layout-wrapper">
    <header id="page-topbar">
        <div class="navbar-header">
            <!-- <i class="fas fa-bars"></i> -->
            <div class="d-flex justify-content-between align-items-center">

                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <div class="logo-section">
                            <div class="">
                                <img src="/assets/MCBlogo.png" alt="" class="logoStyle">
                            </div>
                        </div>
                    </div>
                    <h3>MCB Fund Availibilty Module</h3>
                <!-- App Search-->
                <!-- <form class="app-search d-none d-lg-block">
                    <div class="position-relative">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="ri-search-line"></span>
                    </div>
                </form> -->


                <ul class="top-nav-links float-right mb-0 mt-2 icons">
                    <!-- <li>Logout</li> -->
                   
                </ul>


            </div>
        </div>
    </header>

   

    <!-- maincontent  -->

  

</div>