.logoStyle{
    width: 130px;
    margin-left: 10px;
}
#layout-wrapper{
    padding: 1rem;
    background-color: #dcd6d6;
    // margin-bottom: 70px;
}
// #page-topbar{
//     margin-bottom: 70px;
// }