// .table-bordered {
//     margin-left:auto;
// }
.btn-default{
    border: 1px black;
    background-color: antiquewhite;
}
.breadcrump{
    margin-top: 1rem;
    // background-color: antiquewhite;
}
.fa-solid{
    color: black;
}
tr{
    text-align: center;

}
.toaster{
    background-color: #56c356;
    width: 50rem;
    padding: 15px 8px 10px 1px;
    border-radius: 25px;
}
.message{
    margin-left: 10px;
}