<!-- <br> -->
<div class="row breadcrump">
    <h4>Fund Availability</h4>
</div>
<br>
<div class="row">
    
</div><br>

<table class="table">
    <thead>
        <tr>
            <th>Label</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>No.of requests not yet handled</td>
            <td>{{dashboard.notHandledCount}}</td>
        </tr>
        <tr>
            <td>No.of requests approved</td>
            <td>{{dashboard.approvedCount}}</td>
        </tr>
        <tr>
            <td>No.of requests rejected</td>
            <td>{{dashboard.rejectedCount}}</td>
        </tr>
    </tbody>
</table>